# Codigo compilado #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so

# Paquetes #
############
/datatypes/
/interfaces/
/logica/
/persistencia/
/presentacion/
/bin
.metadata/

# Archivos comprimidos #
############
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip

# OS archivos generados #
######################
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

.ssh/**
